:root {
    --primary-color: #8d36ca;
    --purple-color:  #b09fe2;
    --gray-color: #23222a;
    --dark-color: #17171a;
    --light-color: #ebf0ff;
  
  }
  
 
  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .wrapper {
    max-width: 1100px;
    padding: 0 50px;
    margin: 0 auto;
  }
  
  /* Navbar */
  
  nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background: var(--light-color);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    transition: all 400ms ease;
  }
  
  nav.main-nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav.main-nav .img-logo  {
   height: 25px;
  }
  
  nav.main-nav .menu-icon {
    
    cursor: pointer;
    
  }

  /*botões*/
  
  .btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 32px;
    display: inline-block;
    border-radius: 20px;
  }
  
  .btn.dark{
    
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-decoration: none;
    font-weight:bold;
    overflow:hidden;   
    transition:0.3s; 
}
.btn.dark:hover { transition:0.3s; }
.btn.dark.background-bounce-up{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.background-bounce-up:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--purple-color);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn.dark.background-bounce-up:hover, .btn.dark.background-bounce-up:focus, .btn.dark.background-bounce-up:active {
  color: var(--primary-color);
}
.background-bounce-up:hover:before, .background-bounce-up:focus:before, .btn.dark.background-bounce-up:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
  
.icon-down {
  width: 25px;
  padding: 
}
  
  .btn.light {
    background: var(--light-color);
    color: #17171a;
   
  }

  .btn.light:hover{
    background-color: var(--purple-color);
}
  
  
  /* Home  Section */
  
  header {
    height: 100vh;
    background: var(--gray-color);
    overflow: hidden;
    position: relative;
  }
  
  header .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  header .left {
    flex: 1;
  }
  
  header .right {
    flex: 0.7;
    position: relative;
    height: calc(100% - 10px);
    align-self: flex-end;
   
  }

  header h2 {
    font-size: 30px;
    color: var(--light-color);
    margin: 0;
  }
  
  header h1 {
    font-size: 65px;
    color: var(--primary-color);
    margin: 0;
  }
  
  header p {
    color: var(--light-color);
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0;
    margin-bottom: 24px;
    line-height: 180%;
  }
  
  header .btn {
    margin-right: 20px;
    border-radius: 20px;
  }

  .link-social{
    display: flex;
    margin-top: 5%;
    font-size: 40px;
    letter-spacing: 40px;
    
  }
  
  header .right .hero-image {
    position: absolute;
    bottom: 0;
    height: 100%;
   
  }

  
 
  
  .dots {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 200;
  }
  
  .dots .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--purple-color);
    opacity: 0.7;
    position: relative;
    transition: all 400ms ease;
  }
  
  .dots .dot.active {
    background: var(--primary-color);
  }
  
  .dots .dot:hover::after {
    content: attr(data-location);
    color: #fff;
    background: #111;
    padding: 3px 8px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-weight: 800;
    font-size: 14px;
  }
  
  header .down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    opacity: 0.4;
  }
  
  /* Nav Menu Items */
  
  .nav-items {
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-items.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .nav-items .close-icon {
    position: fixed;
    top: 22px;
    width: 100%;
    max-width: 1100px;
    padding: 0 50px;
  }
  
  .nav-items .close-icon img {
    height: 22px;
    width: 22px;
    cursor: pointer;
  }
  
  .nav-items ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .nav-items ul li {
    opacity: 0;
    transform: translateX(-12px);
    transition: all 1000ms ease;
  }
  
  .nav-items.active ul li {
    opacity: 1;
    transform: translateX(0);
  }
  
  .nav-items ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 8px 0;
    display: inline-block;
  }
  
  .nav-items ul li a:hover {
    font-weight: 800;
    color: var(--primary-color);
  }
  
  /* Sections */
 
  
  section h2 {
    font-size: 60px;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }
  
  section h2:before {
    content: attr(data-title);
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-weight: 100;
    color: rgba(183, 179, 184, 0.308);
    white-space: nowrap;
  }
  
  section {
    background: var(--dark-color);
    padding: 140px 0 100px 0;
  }
  
  section:nth-of-type(even) {
    background: var(--gray-color);
  }

  /* Sobre mim */

  .container1 {
     display: flex;
     align-items: center;
     padding: 0 120px;
  }
  .about .container1 .perfil-image {
    width: 450px;
    position: relative;
  }
  
  .about .container1-texto {
    padding-left: 40px;
  }
  .about h3 {
    color: var(--light-color);
    font-size: 45px;
    font-weight: 300;
   
    
}
  .about p {
  color: var(--light-color);
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 180%;
  
}
 
 
  

  
  /* Meus Projetos */

  .sw-slide {
    margin: auto;
    width: 240px;
    height: 320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: var(--light-color);
    box-shadow: 10px 10px 30px rgba(99, 77, 99, 0.5);
    background-image: linear-gradient(to right,#754683 , #7709C5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(6px);
  
  }

  .sw-slide .content {
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    overflow: visible;
   
  }

  .sw-slide .content h2 {
    position: absolute;
    top: -40px;
    right: -5px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
  }

  .sw-slide .content h3 {
    font-size: 1.2em;
    color: #FFF;
    z-index: 1;
  }

  .sw-slide .content p {
    font-size: 0.8em;
    color: #FFF;
    font-weight: 300;
  }

  .sw-slide .content a {
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    margin: 15px 1rem 0 1rem;
    background-color:var(--light-color);
    color: var(--primary-color);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rbg(0, 0, 0, 0.2);
    font-size: 1rem;
    width: 56%;
  }

  
  /* Skills */
  
  .skills .icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 60px auto;
    gap: 100px;
  }
  
  .skills .icons-container .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .skills .icons-container img {
    height: 100px;
  }
  
  .skills .icons-container .icon .skill {
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease;
  }
  
  .skills .icons-container .icon:hover .skill {
    opacity: 1;
  }
  
  /* Contact  */
  
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 1.2rem;
    background-color: var(--gray-color);
    max-width: 600px;
    height: 770px;
    padding: 40px;
    border-radius: 20px;
    margin: auto;
  }
 
  form h1 {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
 }

  form p {
  color: var(--light-color);
  text-align: center;
 }
  
  .contact form input,
  .contact form textarea {
    width: 70%;
    padding: 0.9rem 1.4rem;
    font-family: "Inter", sans-serif;
    align-self: center;
    color:var(--light-color); 
    font-weight: 500;
    background-color: var(--gray-color);
    border: 1px solid #673497;
    font-size: 1rem;
    box-shadow: 0 0 2.5px #671ba5, 0 0 10px #472e94, 0 0 10px #684eb6;
    border-radius: 1.4rem;
    border: 1px solid #aca5c2;
   
  }
  
  .contact form textarea {
    resize: none;
  }
  
  .contact form input:focus,
  .contact form textarea:focus {
    outline: none;
  }
  
  .contact form  .btn.light{
   align-self: center;
   border: 1px solid #f7f4fa;
   font-size: 1rem;
   box-shadow: 0 0 2.5px #f5f0f8, 0 0 10px #7960c7, 0 0 10px #6853b6;
   border-radius: 1.4rem;
   border: 1px solid #d8d4e4;
  
  }
 
  
  /* Footer */
  
  footer {
    background: var(--gray-color);
    padding: 16px;
  }
  
  footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  footer .footer-logo {
    width: 35%;
  }

  footer .link-social-footer {
    display: flex;
    font-size: 30px;
    letter-spacing: 30px;
  }
 
  

  
  /* diferenciais Section */
  
  .swiper {
    max-width: 1200px;
    width: 100%;
    padding: 40px 0;
    
  }
  
  .diferenciais .swiper-slide {
    text-align: center;
    padding: 0 140px;
    position: relative;
    display: flex;
   
  }
  
 
  
  .diferenciais .swiper-slide .profile-image {
    height: 150px;
    width: 150px;
    margin: auto;
  }

  .diferenciais .swiper-slide h3 {
    color: var(--purple-color);
    font-size: 25px;
  }
  
  .diferenciais .swiper-slide p {
    color: #fff;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 2px;
    z-index: 200;
    position: relative;
    text-align: left;
    padding: 0 5px 0 100px;
  }
  
  .diferenciais .swiper-slide .name {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    margin-top: 40px;
  }
  
  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background: var(--primary-color);
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0.7;
    color: var(--purple-color);
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 1;
  }



  /* Media Queries */
  
  @media (max-width: 884px) {
    nav.main-nav .wrapper,
    .nav-items .close-icon {
      padding: 0 32px;
    }
  
    header .wrapper {
      flex-direction: column;
    }
  
    header .left {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    header .left h2 {
      font-size: 45px;
    }
     
    header .left h1 {
      font-size: 65px;
    }
    header .left p {
      font-size: 30px;
    }
  

    .btn {
      flex-direction: row;
      padding: 20px 30px;
      
    }
   

     header .link-social{
      text-align: center;
      font-size: 40px;
      letter-spacing: 40px;
      padding-left: 140px;
    }

    .container1 {
      flex-direction: column;
      

    }
    .about .container1 .perfil-image {
       width: 400px;
      
      
    }
    .about .container1 .texto-1{
      text-align: left;
    }
    .about .container1-texto {
      text-align: center;
      margin: -50px;
    }

  
    section h2 {
      font-size: 40px;
      color: var(--primary-color);
    }
  
    section h2::before {
      font-size: 80px;
    }
  
    .services ul li {
      font-size: 20px;
      margin: 12px 0;
    }
   
    
    .diferenciais .swiper-slide {
      flex-direction: column;
      padding: 20px;
    }
    .diferenciais .swiper-slide .profile-image{
      margin: 0 auto;
    }

    .diferenciais .swiper-slide h3 {
      font-size: 20px;
    }
    .diferenciais .swiper-slide p {
      font-size: 16px;
      text-align: center;
      padding: 0 60px;
    }

  
    .skills .icons-container img {
      height: 80px;
    }
  
    .skills .icons-container .icon .skill {
      opacity: 1;
    }

    .contact form {
      width: 80%;
    }

    footer .wrapper {
    flex-direction: column;
    gap: 8px;
   
    }
    footer .footer-logo {
      width: auto;
      height: 40px;
    }
    footer .link-social-footer{
      font-size: 40px;
      padding-left: 40px;
    }
   

    
    
  
  
  @media (max-width: 600px) {

    header {
      flex-direction: column;
      
    }
    header .right .hero-image {
      display: none;
    }
    header .left {
      margin-top: 200px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    header  .left h2  {
      font-size: 18px;
    }
    header .left h1{
      font-size: 35px;
    }
    header .left p{
      font-size: 16px;
    }

    .btn {
      padding:  12px;
      font-size: 12px;
      flex-direction: row;
      gap: 14px;
    }
     
    header .link-social{
      text-align: center;
      letter-spacing: 40px;
      padding-left: 60px;
    }

    section h2 {
      font-size: 30px;
    }
  
    section h2::before {
      font-size: 40px;
      top: -20px;
    }
   .container1 .texto-1 {
     margin-left: -60px;
   }
    .container1 p{
      font-size: 16px;
      text-align: left;
      margin-left: -60px;
      margin-right: -70px;
      padding-right: 20px;
      
    }
    .about .container1 .perfil-image {
      width: 350px;
    }

    .diferenciais .swiper{
      height: 60vh;
     
     
      
    }
    .diferenciais .swiper-slide p {
      font-size: 16px;
      margin: 0 -60px;
      
     
    }
    .diferenciais .swiper-slide .profile-image{
      margin: 0 auto;
      height: 90px;
      width: 90px;
    }

    .diferenciais .swiper-slide h3 {
      font-size: 18px;
    }

    .swiper-button-next, .swiper-button-prev{
      display: none;
    }
    .swiper-pagination-bullet {
       width: 15px;
       height: 15px;
       
    }
    
  
    .skills .icons-container {
      grid-template-columns: 1fr 1fr;
    }
    .contact form {
      height: 600px;
      width: 80%;
      padding: 30px;
    }
    
    form p {
      text-align: center;
      font-size: 16px;
      margin-top: -10px;
    }

    form h1{
      font-size: 16px;
    }

    .contact form input,
    .contact form textarea {
      padding: 10px;
     }

    footer .footer-logo {
      width: auto;
      height: 25px
    }


   footer .link-social-footer{
    margin-left: 40px;
   }
   
  }